@import "fullcalendar";
@import "jqueryui";
@import "compass_twitter_bootstrap";

.travelSpec {
	background-color: white;
	padding: 10px;
	margin-top: 0px;
	margin-bottom: 0px;
}

section.container {
    margin-top: 150px;
    text-align: center;
}


.carousel-control-description{
	position: absolute;
	left: auto;
	right: 70px;
	top: 37%;
	line-height: 30px;
	text-align: center;
	width: 100px;
	margin-top: 0;
	font-size: 20px;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .4);
	background-color: transparent;
	border: 0;

}

section.container.mysherpa {
    margin-top: 30px;
    text-align: left;
}

#startPlanning {
    margin-left: 0;
    margin-top: 30px;
}
ul.thumbnails > li {
    margin-left: 0;
}
ul.thumbnails li{
    text-align: center;
    z-index: 100;
    // background-color: $white;
}
img.popoverimg{
    width: 200px;
    height: 200px;
    margin: 10px;
}
#sherpa {
    font-size: 5em;
    margin-top: 40px;
    margin-bottom: 60px;
}

.carousel-control{
	
	color: grey;
	font-weight: medium;
}
.carousel-control:hover{
	
	color: black;
	font-weight: medium ;
}
.imgPoi{
	height: 180px;
	width: 180px;
	padding: 20px;

}

.poiTitle{
	padding-left: 25px;
		font-size: 20px;
	font-weight: medium;
}

#calcontainer{

	height: 600px;
	width : 600px;
}

.hide{
	display: none;
}
