@import "fullcalendar";
@import "jqueryui";
@import "compass_twitter_bootstrap";
@import "compass_twitter_bootstrap_responsive";


section.container {
    margin-top: 150px;
    text-align: center;
}

section.container.mysherpa {
    margin-top: 30px;
    text-align: left;
}

#startPlanning {
    margin-left: 0;
    margin-top: 30px;
}
ul.thumbnails > li {
    margin-left: 0;
}
ul.thumbnails li{
    text-align: center;
    z-index: 100;
    // background-color: $white;
}
img.popoverimg{
    width: 200px;
    height: 200px;
    margin: 10px;
}
#sherpa {
    
    font-size: 5em;
    margin-top: 40px;
    margin-bottom: 60px;
}