#leftAside{
	float:left;
}

article.container.streamreview {
	margin-top: 30px;
	text-align: left;
	margin-bottom: 50px;
}
aside.aside_general_bar {
	height: 500px;
}

.loading{
	background-color: lightblue;
	text-align: center;
	-webkit-border-radius: 40px;
    -moz-border-radius: 40px;
	border-radius: 40px;
}

.carousel_element {
	margin-bottom: 10px;
	text-align: center;
}

img.profile_photo_big{
	width: 75px; height: 75px;
	margin: 20px;
	border:1px solid black; 
}

.trip_details_entry {
	margin-top: 15px;
	margin-bottom: 15px;
}

.trip_details {
	margin-bottom: auto;
	margin-top: 40px;
	font-size: 18px;
}

.trip_details:first-letter {
	font-size: 22px;
}

