#leftAside{
	float:left;
}

.loading{
	background-color: lightblue;
	text-align: center;
	-webkit-border-radius: 40px;
    -moz-border-radius: 40px;
	border-radius: 40px;
}

.carousel_element {
	margin-bottom: 10px;
	text-align: center;
}
.top-to-bottom {
    border-width:3px;
    -webkit-border-image: 
    	-webkit-gradient(linear, 0 0, 0 100%, from(black), to(rgba(0, 0, 0, 0))) 1 100%;
    -webkit-border-image: 
    	-webkit-linear-gradient(black, rgba(0, 0, 0, 0)) 1 100%;
    -o-border-image:
    	     -o-linear-gradient(black, rgba(0, 0, 0, 0)) 1 100%;
    -moz-border-image:
    	   -moz-linear-gradient(black, rgba(0, 0, 0, 0)) 1 100%;    
}
