/**
* @file: TravelReview.css 
* @version: 1.0
*/

article.container.travelreview {
	margin-top: 30px;
	text-align: left;
}

.comments {
	margin-top: 30px;
}

.comments_top {
	border:1px solid black;
}

.comment_form {
	margin: 20px;
}

.comment_list {
	margin-top:20px;
}

.comment_element {
	margin-top: 0px;
}

.trip_details {
	margin-left: 20%;
	padding: 10px;
	font-size: 18px;
}

.trip_details:first-letter {
	font-size: 22px;
}

.trip_details_entry {
	margin-top: 15px;
	margin-bottom: 15px;
}

.text_infos {
	margin:10px;
	margin-bottom: 20px;
	margin-top: 0px;

}
.travel_title{
	font-size: 36px;
	margin-left: 30px;
	margin-top: 5px;
	line-height: 110%;
}
.travel_title:first-letter {
	font-size: 48px;
}

#rateMe{
	padding:0px;
	margin:0px; 
	margin-left: 20px;
	margin-top: 15px;
}
#rateMe .on{
	background:url('../images/star_on.png');
	background-repeat: no-repeat;
	background-size: 100% 100%; 
}
#rateMe a{
	float:left; 
	background:url('../images/star_off.png'); 
	background-repeat: no-repeat;
	background-size: 100% 100%;
	width:24px; height:24px; 
}
img.profile_photo_big{
	width: 75px; height: 75px;
	margin: 20px;
	border:1px solid black; 
}
img.profile_photo_small{
	width: 50px; height: 50px;
	border:1px solid black; 
}

img.thumb_travel {
	width: 135px; 
	height: 135px;
	border:1px solid black; 
}

#hotels {
	display: none;
}

#restaurants {
	display: none;
}

#shopping {
	display: none;
}

#sidebar #social {
    margin: 10px;
} 
#social {
	margin-top: 10px;
}   
div .plusone, .twitter, .fb-like {
    font-size: 1px;
    display: inline-block;
}
div .fb_reset {
    display: inline;
} 
}