/**
* @file: TravelReview.css 
* @version: 1.0
*/

.container {
	margin-top: 20px;
}

aside.aside_general_bar {
	float:left;
	width: 15%;
}

aside.comment_photo {
	float: left;
	min-width: 50px;
}
article {
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
}

#comments {
	border:10px;
	margin-top: 30px;
	background-color: #EBFFFB;
	overflow: auto;
	padding: 20px; 
}

form.comment_form {
	margin: 20px;
}

article.comment_element {
	float:left;
}

span.comment_author {
	margin-left: 10px;
}

span.comment_text {
	margin-top: 5px;
	margin-left:25px;
}

.trip_details {
	margin-left: 20%;
	margin-right: 20%;
	overflow: auto;
	padding: 10px;
	border: 5px solid #FFFF33;
	background-color: #CCFFFF;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
}
#dynamic_map_container {
	float:right;
	width: 40%;
}
.trip_infos {
	width:100%;
	height: 100%;
	overflow: auto;
}

.text_infos {
	float: left;
	width:55%;
	height: 100%;
	overflow: auto;
	margin:10px;
	margin-bottom: 20px;
	margin-top: 0px;
	background-color: #99FFFF;
	border: 5px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;

}
#user_name {
	font-size: 24px;
	margin: 20px;
}
#user_nameFirstLetter {
	font-size: 36px;
}
#header_traveller {

}

article.container{
	float: right;
	width: 85%;
}
#rateMe{
	padding:0px;
	margin:0px; 
}
#rateMe .on{
	background:url('../images/star_on.png');
	background-repeat: no-repeat;
	background-size: 100% 100%; 
}
#rateMe a{
	float:left; 
	background:url('../images/star_off.png'); 
	background-repeat: no-repeat;
	background-size: 100% 100%;
	width:24px; height:24px; 
}
img.profile_photo_big{
	float: right;
	width: 150px; height: 150px;
	margin: 20px;
	border:1px solid black; 
}
img.profile_photo_small{
	width: 50px; height: 50px;
	border:1px solid black; 
}

img.thumb_travel {
	width: 50px; height: 50px;
	border:1px solid black; 
}
